---
layout: base-layout.njk
---

<img
  width="200"
  height="150"
  src="assets/self-image.jpg"
  style="margin-bottom: 1rem; border-radius: 3px;"
/>
<p style="margin-bottom: 1.4rem">
  Hi, I'm Kheoh Yee Wei, indie maker from Malaysia. I build a collaboration tool called <a href="https://www.sametable.app">Sametable</a>.
</p>
<ul style="margin-bottom: 4rem;">
  <li>
    <a href="mailto:oldjoy@protonmail.com">email</a> &mdash;
    <small>wazzup</small>
  </li>
  <li>
    <a href="https://www.flickr.com/people/twiart">flickr</a> &mdash;
    <small>show off</small>
  </li>
  <li>
    <a href="https://open.spotify.com/user/kheohyeewei">spotify</a> &mdash;
    <small>feelin' it</small>
  </li>
  <li>
    <a href="https://kheohyeewei.tumblr.com/">tumblr</a> &mdash;
    <small>high anxiety</small>
  </li>
  <li>
    <a download href="assets/cv.pdf">resume</a> &mdash; <small>a man's gotta eat</small>
  </li>
</ul>
<div class="notes">
  <h1>Notes</h1>
  <ul>
    {% for post in collections.post | reverse %}
    <li>
      <a href="{{ post.url | url }}">
        {{ post.data.title }}
      </a>
      <small>
        <time datetime="{{ post.date | dateIso }}"
          >{{ post.date | dateReadable }}</time
        >
      </small>
    </li>
    {% endfor %}
  </ul>
</div>
