---
layout: base-layout.njk
---

<article>
<div style="margin:6rem 0">
  <h1>{{ title }}</h1>
  <small style="margin-bottom:5rem">
  <time datetime="{{ date | dateIso }}">{{ date | dateReadable }}</time>
  </small>
</div>
  {{ content | safe }}
</article>
